{# src/Site/BlogBundle/Resources/public/views/Comment/index.html.twig #}
<div class="row">
    <div class="large-12 columns">
        <section class="content">
            <h3>Commentaires</h3>
            {% for comment in comments %}
                <article class="comment {{ cycle(['odd', 'even'], loop.index0) }}" id="comment-{{ comment.id }}">
                    <header>
                        <p><span class="highlight">{{ comment.user }}</span> commented <time datetime="{{ comment.created|date('c') }}">{{ comment.created|created_ago }}</time></p>
                    </header>
                    <p>{{ comment.comment }}</p>
                </article>
                {% else %}
                    <p>Il n'y a pas de commentaires pour ce post.</p>
                    {% endfor %}
                    </section>
                </div>
            </div>