{# app/Resources/views/base.html.twig #}
<!doctype html>
<html class="no-js" lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if page_title is defined %}{{ page_title }} | {% endif %}MedZoner.com</title>

    <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="large-12 columns">
            <header>
                <div id="logo">
                    <p>WWW.MEDZONER.COM</p>
                    <p>WEB &amp; OPENSOURCE</p>
                </div>
            </header>
            <nav class="top-bar" data-topbar>
                <ul class="title-area">
                    <li class="name">
                    </li>
                    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                </ul>
                <section class="top-bar-section">
                    {{ knp_menu_render('MedzonerGlobalBundle:Builder:mainMenu', {'class': 'right','currentClass': 'active'}) }}
                    {#
                            <!-- Left Nav Section -->
                            <ul class="left">
                                {% if is_granted("ROLE_USER") %}
                                    <li>
                                        <a href="/profile" />{{'username' | trans}} {{ app.user.username }}</a>
                                    </li>
                                    <li>
                                        <a href="/logout">Déconnexion</a>    
                                    </li>         
                                {% else %}
                                    <li>
                                        <a href="/login" />Connexion</a>
                                    </li>
                                {% endif %}
                            </ul>
                    #}
                </section>
                {% if is_granted("ROLE_ADMIN") %}
                    <section class="top-bar-section">
                        <ul class="left">
                            <li><p>Administration : </p></li>
                            <li>
                                <a href="{{ path('site_blog_new') }}" />{{'new post' | trans}}</a>
                            </li>
                        </ul>
                    </section>
                {% endif %}
            </nav>
        </div>
    </div>
    {% block body %}{% endblock %}
    {% block content %}{% endblock %}
    <footer>
        <div class="row">
            <div class="large-8 columns">
                &copy; 2014 Mehdi Youb - Développeur Web | HTML5, Jquery, PHP5, MySQL
            </div>
            <div class="large-4 columns">
                <a href="{{path('site_contact')}}">contact</a>
            </div>
        </div>
    </footer>
</div>

<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).foundation({
            reveal: {
                animation_speed: 500
            },
            tooltip: {
                disable_for_touch: true
            },
            topbar: {
                custom_back_text: false,
                is_hover: true,
                mobile_show_parent_link: true
            }
        });
        {% block document_ready %}{% endblock %}
    });
</script>
</body>
</html>