{% extends '@MedzonerGlobal/base.html.twig' %}

{% set page_title = "Blog" %}

{% block content_header %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-4 columns right">
            <section class="content">
                {% block sidebar %}
                    {{ render(controller( 'SiteBlogBundle:Index:sidebar'))}}
                {% endblock %}
            </section>
        </div>

        <div class="large-8 columns">
            {% for blog in blogs %}
                <section class="content">
                    <span class="cat-links" style="background: url('/bundles/siteblog/images/.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0)"></span>
                    <article class="blog">
                        <div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date("d/m/Y") }}</time></div>
                        <div>
                            <h2><a href="{{ path('site_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}">{{ blog.title }}</a></h2>
                        </div>

                        <img src="{{ asset([blog.image]|join | imagine_filter('blog_thumb')) }}" />
                        <div class="snippet">
                            <p>{{ blog.description(500)|raw }}</p>
                            <p class="continue"><a href="{{ path('site_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}">Suite ...</a></p>
                        </div>

                        <div class="meta">
                            <p>Commentaires: <a href="{{ path('site_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}#comments">{{ blog.comments|length }}</a></p>
                            <p>Par <span class="highlight">{{ blog.author }}</span> at {{ blog.created|date('h:iA') }}</p>
                            <p>Catégorie: <span class="highlight"></span></p>
                        </div>
                    </article>
                </section>
            {% else %}
                <section class="content">
                    <p>Il n'y a pas de publications disponibles.</p>
                </section>
            {% endfor %}
        </div>
        {% include 'SiteBlogBundle:Index:pagination.html.twig'%}
    </div>
{% endblock %}

