{% extends '@MedzonerGlobal/base.html.twig' %}

{% set page_title = blog.title %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
            'bundles/siteblog/css/blog.css'    
            filter='cssrewrite'          
    %}
<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}  
{% endblock %}

{% block content_header '' %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <section class="content">
                <article class="blog">
                    <header>
                        <div class="date">
                            <time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time>
                        </div>
                        <h2>{{ blog.title }}</h2>
                    </header>
                    <img src="{{ asset([ blog.image]|join) }}" alt="{{ blog.title }}" class="large" />
                    <div>
                        <p>{{ blog.description|raw }}</p>
                    </div>
                </article>
            </section>
            <section class="comments" id="comments">
                <section class="previous-comments">
                            {% include 'SiteBlogBundle:Comment:comment.html.twig' with { 'comments': comments } %}
                    </section>
                    <div class="row">
                        <div class="large-12 columns">
                            <section class="content">
                                <h3>Ajouter un commentaire</h3>
                                    {{ render(controller( 'SiteBlogBundle:Comment:new', { 'blog_id': blog.id } )) }}
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
{% endblock %}

