{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="row">
    <div class="large-12 columns">
        <section class="content">
            <div class="row">
                <div class="large-6 columns">
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input type="password" id="password" name="_password" required="required" />

                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                        {% if app.request.get('_route') != app.request.headers.get('referer') %}    
                        <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}" />    
                        {% endif %}

                        <button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">{{ 'security.login.submit'|trans }}</button>
                    </form>
                </div>
                <div class="large-6 columns">
                    <a href="/register">S'inscrire</a>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <a href="/resetting/request">Réinitialiser le mot de passe</a>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}