{% extends '@MedzonerGlobal/base.html.twig' %}
{% set page_title = "Book" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '../vendor/kenwheeler/slick/slick/slick.css'
        'bundles/medzonerglobal/css/portfolio.css'
        filter='?cssrewrite,?uglifycss'            
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}  
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '../vendor/kenwheeler/slick/slick/slick.js'
    
            filter='?uglifyjs2'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(window).load(function () {

                $(".carousel .item").each(function () {
                    $(this).css(
                            {
                                'background': 'url(' + $(this).children('img').attr('src') + ') no-repeat scroll 0 center / cover rgba(0, 0, 0, 0)'
                            }
                    );
                });

                $('.carousel').slick({
                    accessibility: true,
                    autoplay: true,
                    autoplaySpeed: 8000,
                    speed: 800,
                    dots: false,
                    arrows: false
                });

            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="book row">
        <div class="large-12 columns">
            <section class="content">
                <div class="row">
                    <div class="small-6 small-centered columns">
                        <div id="portfolio">
                            <ul class="carousel">
                                {% for project in projects %}
                                    <li class="item">
                                        <a data-reveal-id="myModal{{ project.id }}" class="zoompicture imgHolder" href="http://www.ad-mp.com/bundles/admppages/images/home/portfolio/{{ project.image }}">
                                            <img style="display: inline;" class="lazy previewZoom" data-original="http://www.ad-mp.com/bundles/admppages/images/home/portfolio/trusteo.jpg" alt="{{ project.url }}" src="http://www.ad-mp.com/bundles/admppages/images/home/portfolio/{{ project.image }}">
                                            <div style="display: none;" class="imgMask">
                                            </div>
                                        </a>
                                        <div id="myModal{{ project.id }}" class="reveal-modal zoomContent medium" data-reveal style="display: none;">
                                            <div class="titlePortfolio">
                                                <h1>{{ project.name }}</h1>
                                            </div>

                                            <div class="wrapperPortfolio">
                                                <div class="sideLeftPortfolio">
                                                    <img alt="www.trusteopro.com" src="http://www.ad-mp.com/bundles/admppages/images/home/portfolio/{{ project.image }}">
                                                    <h3>Publication</h3>
                                                    <p>{{ project.date | date }}</p>
                                                    <h3>Site</h3>
                                                    <a class="url_site" href="http://{{ project.url }}" target="_blank">{{ project.url }}</a>
                                                </div>
                                                <div class="sideRightPortfolio">
                                                    {{ project.description | raw }}
                                                </div>
                                            </div>
                                            <div class="sideBottomPortfolio">
                                                <ul class="screens">
                                                    <li>
                                                        <img alt="{{ project.url }}" src="http://www.ad-mp.com/bundles/admppages/images/home/portfolio/screens/{{ project.screen1 }}">
                                                    </li>
                                                    <li>
                                                        <img alt="{{ project.url }}" src="http://www.ad-mp.com/bundles/admppages/images/home/portfolio/screens/{{ project.screen2 }}">
                                                    </li>
                                                    <li>
                                                        <img alt="{{ project.url }}" src="http://www.ad-mp.com/bundles/admppages/images/home/portfolio/screens/{{ project.screen3 }}">
                                                    </li>
                                                </ul>
                                            </div>
                                            <a class="close-reveal-modal">&#215;</a>
                                        </div>
                                                    <br/>
                                        <span><a href="http://{{ project.url }}" target="_blank">{{ project.name }}</a></span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
