{% extends '@MedzonerGlobal/base.html.twig' %}
{% set page_title = "CV" %}

{% block content %}
    <section class="content3">
        <div class="row job-logos">
            <div class="large-12 columns">
                <img src="{{ asset(medzoner_cdn_url ~ '/images/php/elephpant_50_35.png') }}" alt="PHP"/>
                <img src="{{ asset(medzoner_cdn_url ~ '/images/symfony/symfony.png') }}" alt="SYMFONY"/>
                <img src="{{ asset(medzoner_cdn_url ~ '/images/nodejs/nodejs.png') }}" alt="NODEJS"/>
                <img src="{{ asset(medzoner_cdn_url ~ '/images/angular/angular.png') }}" alt="ANGULARJS" />
                <img src="{{ asset(medzoner_cdn_url ~ '/images/docker/docker.png') }}" alt="DOCKER" />
            </div>
        </div>
    </section>
{% endblock %}
